.cuadro {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.vergacion{
    margin-top: 1rem;
    color: red;
}
$font-family-sans-serif: 'Roboto', sans-serif;
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 2rem,
  6: 1.5rem
);
$success: rgb(141, 219, 141);
.joder {
    border-radius: 10px;
    border: none;
}

@import "../node_modules/bootstrap/scss/bootstrap";